@import '@/styles/global.scss';

.cf-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .cf-label {
    font-size: 0.875rem;
    font-weight: 500;
    color: $color-text;
  }

  .cf-input {
    padding: 1rem;
    border: 1px solid $color-primary-dark;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: $color-primary-dark;
    color: $color-text;
    min-width: 450px;

    &:focus {
      outline: none;
      border-color: $color-secondary;
    }

    &:disabled {
      background-color: $color-border;
      cursor: not-allowed;
    }
  }

  .cf-error-message {
    color: $color-error;
    font-size: 0.75rem;
  }
}