@import '@/styles/global.scss';

.cf-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .cf-checkbox-input {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid $color-border;
    border-radius: 4px;
    background-color: $color-background;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:checked {
      background-color: $color-primary-light;
      border-color: $color-primary;

      &::after {
        content: '';
        width: 0.75rem;
        height: 0.75rem;
        background-image: url('@/assets/Vector.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .cf-checkbox-label {
    font-size: 0.875rem;
    cursor: pointer;
    color: $color-text;
  }
}