// Primary colors
$color-primary: #4323FF;
$color-primary-light: #4FF6B1;
$color-primary-dark: #2F2F31;

// Secondary colors
$color-secondary: #FFFFFF;
$color-secondary-light: #FF6A55;
$color-secondary-dark: #E74C3C;

// Neutral colors
$color-neutral-100: #000000;
$color-neutral-200: #4b4b4b;
$color-neutral-300: #ccc;
$color-neutral-400: #f2f2f2;