@import '@/styles/global.scss';

.cf-tooltip {
  position: relative;
  display: inline-block;

  .cf-tooltip-content {
    position: absolute;
    z-index: 100;
    background-color: $color-neutral-100;
    color: $color-secondary;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.875rem;
    white-space: nowrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-50%);
    left: 120%;
  }
}